.mat-list {
  position: relative;
  width: 60%;
  margin: 50px auto;
}

.mat-list-value {
  display: inline-block;
  position: absolute;
  right: 0;
  font-weight: 700;
  text-align: right;
}

.mat-list-value--percentage {
  width: 200px;
  padding: 4px 4px 4px 0;
  background: #CCCCCC;
}
