.main-header {
  position: relative;
  width: 100vw;
  height: 240px;
  max-height: 50vh;
  padding-top: 37.5px;
  background-image: url("src/assets/img/header-background-alt.jpg");
  background-size: cover;
  background-position: 90% 90%;
}

.icon {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  background-color: #E2E2E2;
  border-radius: 50%;
  font-size: 80px;
  line-height: 150px;
  text-align: center;
  color: #666;
}
