<form [formGroup]="searchForm" class="search-form">
  <h2>Enter event name, location or other keywords</h2>
  <mat-form-field appearance="outline" class="search-form__field">
    <mat-label>event name</mat-label>
    <input matInput type="text" formControlName="name">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <h2>Select date range</h2>
  <section class="search-form__field-wrapper">
    <mat-form-field appearance="outline" class="search-form__field--half">
      <mat-label>from</mat-label>
      <input matInput [matDatepicker]="startDatepicker" formControlName="dateFrom">
      <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" class="search-form__field--half">
      <mat-label>to</mat-label>
      <input matInput placeholder="01/01/2020" [matDatepicker]="endDatepicker" formControlName="dateTo">
      <mat-datepicker-toggle matSuffix [for]="endDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatepicker></mat-datepicker>
    </mat-form-field>
  </section>
  <button (click)="submitForm()" class="search-form__button" mat-raised-button>Find interesting events</button>
</form>
