.grid-list-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  justify-items: stretch;
  margin: 50px auto;
  width: 90%;
}

.grid-list-flex__tile {
  position: relative !important;
  width: 250px !important;
  margin: 20px !important;
}

.filter-list-wrapper {
  margin: 0 auto !important;
  margin-top: 50px !important;
  width: calc(90% - 40px) !important;
}
